<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>UW Plan</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script src="http://code.angularjs.org/1.2.13/angular.min.js"></script>
     <script src="http://code.angularjs.org/1.2.13/angular-route.min.js"></script>

    <script src="scripts/appmain.js"></script>
    <script src="scripts/coursectrl.js"></script>
    <script src="scripts/maincrtl.js"></script>
    <script src="scripts/reqsctrl.js"></script>
    <script src="scripts/dragdrop.js"></script>
    <script src="scripts/tmp.js"></script>
  </head>

  <body ng-app="app">

    <h1 style="text:bold; background-color:#000000; color:#ffffff; padding:5px;">UW Planner</h1>
    <div class="container" width="100%" style="padding:0px">
        <div class="row">
            <div style="overflow:auto; background-color:#eeeeee; height:600px;" class="col-md-2" id="reqs">
                <h4 style="background-color:#757575; color:#ffffff; width:100%; padding:5px;">Requirements</h4>
            </div>

            <div class="col-md-10">
                <div class="div" ondrop="drop(event)" ondragover="allowDrop(event)" style= "overflow-x:auto; background-color:#eeeeee; height:225px; padding: 2px;" id="course">
                    <h4 style="background-color:#757575; color:#ffffff; width:100%; padding:5px;">Your Schedule</h4>
                    <div ng-view></div>
                </div>
                
                <br>
                
                <div class="div" ondrop="drop(event)" ondragover="allowDrop(event)" style= "background-color:#eeeeee; height:350px; overflow-y:auto; overflow-x:hidden; padding: 2px;" id="main" ng-controller="MainCtrl">
                    <h4 style="background-color:#757575; color:#ffffff; width:100%; padding:5px;">Courses</h4>
                    <div class="row">
                        <div height="350px" class="col-md-5">
                        Search: <input type="text" id="search" ng-model="searchText" ng-change="checkExact()"></input>
                        <p id="drag1" draggable="true" ondragstart="drag(event)" width="336" height="69" ng-repeat="i in courseView | filter:searchText track by $index">{{ i }}</p>
                        </div>
                        <div style="float:right;" id="course-chooser" class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    </div>

  </body>
</html>
