<div id="course_dash">
    <div class="row">
        <div class="col-md-2">
        1A
        </div>

        <div class="col-md-2">
        1B
        </div>

        <div class="col-md-2">
        2A
        </div>

        <div class="col-md-2">
        2B
        </div>

        <div class="col-md-2">
        3A
        </div>

        <div class="col-md-2">
        3B
        </div>

        <div class="col-md-2">
        4A
        </div>

        <div class="col-md-2">
        4B
        </div>

    </div>
</div>
