<div id="course_dash">
    <table>
        <tr>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/1A">1A</a></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/1B">1B</a></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/2A">2A</a></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/2B">2B</a?</td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/3A">3A</a></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/3B">3B</a></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/4A">4A</a></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" width="350px"><a href="#/courseview/4B">4B</a></td>
        </tr>
        <tr>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>           
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>
            <td class="div" ondrop="drop(event)" ondragover="allowDrop(event)" ></td>
        </tr>
    </table>
</div>
