<div id="course_dash">
    <table>
        <tr>
            <td width="350px">1A</td>
            <td width="350px">1B</td>
            <td width="350px">2A</td>
            <td width="350px">2B</td>
            <td width="350px">3A</td>
            <td width="350px">3B</td>
            <td width="350px">4A</td>
            <td width="350px">4B</td>
        </tr>
        <tr>
            <td><input type="text"></input>></td>
            <td></td>
            <td></td>
            <td></td>           
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
